<h1>Audignies</h1>

<div class="tassevent">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_audignies_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_audignies_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_audignies_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_audignies_art_index_path %></div>
</div>

<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_audignies_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_audignies_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_audignies_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_audignies_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_audignies_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_audignies_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_audignies_industrieagroalimentaire_index_path %></div>

    <div class="sectorBox industrie"><%= link_to 'Industrie Metallurgie', secteurs_audignies_industriemetallurgie_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox industrie"><%= link_to 'Industrie Automobile', secteurs_audignies_industrieautomobile_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_audignies_maintenance_index_path %></div>

    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_audignies_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_audignies_service_index_path %></div>
</div>    
<div class="sectorJob">  
    <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_audignies_spectacle_index_path %></div>

    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_audignies_support_index_path %></div>

    <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_audignies_transport_index_path %></div>

    <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_audignies_nonmarchant_index_path %></div>
</div>
<div class="sectorJob">   
    <div class="sectorBox association"><%= link_to 'Association', secteurs_audignies_association_index_path %></div>
</div>    
</div>  