<h1>Domaines</h1>

<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', domaine_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', domaine_espacevert_index_path %></div>
         
    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', domaine_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', domaine_art_index_path %></div>
</div>


<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', domaine_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', domaine_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', domaine_communication_index_path %></div>

    <div class="sectorBox biologie"><%= link_to 'Bâtiment', domaine_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Restauration', domaine_restauration_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Tourisme, Loisirs', domaine_tourisme_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Industrie', domaine_industrie_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Maintenance', domaine_maintenance_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Santé', domaine_sante_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Service à la personne', domaine_service_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Spectacle', domaine_spectacle_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Support à l\'entreprise', domaine_support_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Transport, Logistique', domaine_transport_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Pôle collectivités', domaine_collectivite_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Service public', domaine_servicepublic_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Association', domaine_association_index_path %></div>
</div>    
</div>     