<h1>Candidature par domaine de métiers</h1>


<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', candidat_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', candidat_espacevert_index_path %></div>
         
    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', candidat_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', candidat_art_index_path %></div>
</div>


<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', candidat_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', candidat_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', candidat_communication_index_path %></div>

    <div class="sectorBox biologie"><%= link_to 'Bâtiment', candidat_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Restauration', candidat_restauration_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Tourisme, Loisirs', candidat_tourisme_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Industrie', candidat_industrie_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Maintenance', candidat_maintenance_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Santé', candidat_sante_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Service à la personne', candidat_service_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Spectacle', candidat_spectacle_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Support à l\'entreprise', candidat_support_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Transport, Logistique', candidat_transport_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Pôle collectivités', candidat_collectivite_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Service public', candidat_servicepublic_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Association', candidat_association_index_path %></div>
</div>    
</div>     