<h1>Le Quesnoy</h1>


<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_quesnoy_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_quesnoy_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_quesnoy_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_quesnoy_art_index_path %></div>
</div>

<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_quesnoy_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_quesnoy_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_quesnoy_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment', secteurs_quesnoy_batiment_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Restauration', secteurs_quesnoy_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_quesnoy_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie', secteurs_quesnoy_industrie_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_quesnoy_maintenance_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_quesnoy_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_quesnoy_service_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Spectacle', secteurs_quesnoy_spectacle_index_path %></div>

    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_quesnoy_support_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_quesnoy_transport_index_path %></div>

    <div class="sectorBox collectivite"><%= link_to 'Pôle collectivités', secteurs_quesnoy_collectivite_index_path %></div>
          
    <div class="sectorBox servicePublic"><%= link_to 'Service public', secteurs_quesnoy_servicepublic_index_path %></div>

    <div class="sectorBox association"><%= link_to 'Association', secteurs_quesnoy_association_index_path %></div>
</div>
</div>