<h1>Haumont: Collectivités</h1>

 <div class="containerCard">

 <% @offres.each do |offre| %>
 <% if offre.commune === 'Haumont' && offre.domaine === 'Pôle collectivités' %>
<div class="card">
    <h5><%= offre.poste %></h5><small class="created"><%= offre.created_at %></small>
    <br>
    <p><%= offre.contrat %> </p>
    <p><%= offre.salaire %> € par mois</p>
    <p><%= offre.email %></p>
    <small><%= offre.description %></small>
    <br>
        <p class="link">
    <%= link_to 'Show', offre %>
    <%= link_to 'Edit', edit_offre_path(offre) %>
    <%= link_to 'Destroy', offre, method: :delete, data: { confirm: 'Are you sure?' } %>
    <a href="mailto:test@test.fr">POSTULER</a>
    </p>
    
  </div>  
    <% end %>
 <% end %>
</div>