<h1>Preux-au-bois</h1>

<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_preuxaubois_agriculture_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Agriculture et pêche', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>
    </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_preuxaubois_espacevert_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Espaces verts', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_preuxaubois_animals_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Soins aux animaux', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>
    </div>
            
        <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_preuxaubois_art_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Ouvrage d\'art', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>  
    </div>
</div>

<div class="sectorJob">
          <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_preuxaubois_banque_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Banque, assurance, immobilier', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>  
     </div>

      <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_preuxaubois_commerce_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Commerce, Vente', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
   </div>
          
        <div class="sectorBox communication"><%= link_to 'Communication', secteurs_preuxaubois_communication_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Communication', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_preuxaubois_batiment_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Bâtiment', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div> 

<div class="sectorJob">
        <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_preuxaubois_restauration_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Bâtiment', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_preuxaubois_tourisme_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Tourisme, Loisirs', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
          
      <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_preuxaubois_industrieagroalimentaire_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Agroalimentaire', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>   
    </div>

      <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_preuxaubois_industrieagroalimentaire_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Agroalimentaire', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
</div> 

<div class="sectorJob">
      <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_preuxaubois_industrieagroalimentaire_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Agroalimentaire', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>   
    </div>

       <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_preuxaubois_maintenance_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Maintenance', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox sante"><%= link_to 'Santé', secteurs_preuxaubois_sante_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Santé', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
    
    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_preuxaubois_service_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Service à la personne', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>    

<div class="sectorJob">  
        <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_preuxaubois_spectacle_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Spectacle', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>  
    </div>
  
       <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_preuxaubois_support_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Support à l\'entreprise', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_preuxaubois_transport_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Transport, Logistique', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_preuxaubois_nonmarchant_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Non marchant', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>

<div class="sectorJob">   
       <div class="sectorBox association"><%= link_to 'Association', secteurs_preuxaubois_association_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Association', commune: 'Preux-au-bois').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>    
</div>