<%= form_with(model: candidat) do |form| %>
  <% if candidat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidat.errors.count, "error") %> prohibited this candidat from being saved:</h2>

      <ul>
        <% candidat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prénom %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :lastname %>
  </div>

    <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :commune %>
    <%= form.select :commune, [
      'Toutes','Landrecies', 'Avesnes-Sur-Helpe', 'Feignies', 'Louvroil', 'Fourmies',
      'Haumont', 'Jeumont', 'Aunloye-Aymeries', 'Quesnoy', 'Maubeuge']%>
  </div>

    <div class="field">
    <%= form.label :"domaine_d\'experience" %>
    <%= form.select :domain_exp, ['Agriculture', 'Espace-verts',
    'Animaux', 'Ouvrage-d\'art', 'Banque-Assurance',
    'Commerce-Vente', 'Communication', 'bâtiment', 'Restauration',
    'Tourisme-Loisirs', 'Industrie Agroalimentaire', 'Industrie Metallurgie', 'Industrie Automobile', 'Maintenance', 'Santé', 'Service-à-la-personne',
    'Spectacle', 'Support-à-l\'entreprise', 'Transport-Logistique', 'Non marchant', 
    'Association','collectivité', 'Autres secteurs']%>
  </div>



## With
<div class="field">
 <%= form.label :image %>
 <%= form.file_field :image %>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
