

<p id="notice"><%= notice %></p>
<div id="boxy" background-image="../images/background.png"> 



<% if user_signed_in? && current_user.conseiller? %>
<div class="logoCo">
    <%= image_tag("Logo-Reussir-en-Sambre-Avesnois.jpg", :alt => "logo_resa") %>
</div>
<% else %>
<div class="logo">
    <%= image_tag("Logo-Reussir-en-Sambre-Avesnois.jpg", :alt => "logo_resa") %>
</div>
<% end %>
 
<div class="boxAccount">
    <div class="CreAccount">
        <div class="connexion">
        <h2>
          <% if user_signed_in? %>
          <% elsif %>
            <%= link_to 'Se connecter', new_user_session_path %>
          <% end %>
          </h2>
        </div>
    </div>
</div>
   
<br>

<% if user_signed_in? && current_user.conseiller? %>
<div class="containerDashbord">
  <div class="boxPubliCre">
    <div class="publicDashCandidats">
    <p class="titleBox">Candidats</p>
        <div class="numberDynamic"><%= @users.count(1) %></div>
    </div>
        <div class="publicDash">
    <p class="titleBox">Candidatures</p>
        <div class="numberDynamic"><%= @candidats.count(1) %></div>
    </div>
   

    
  </div>
  <div class="BoxOffreDashboard">
    <div class="OffreDash">
            <p class="titleBox">Offres d'emploi</p>
               <div class="numberDynamic"><%= @offres.count %></div>
               <br>
               <br>
               <div class="ListOffers">
                   <% @offres.each do |offre| %>
               
               <ul>
                  <li><%= offre.poste %></li>
                  <li><%= offre.contrat %></li>  
                  <li><%= offre.commune %></li> 
                  <li><%= offre.salaire %> € par mois.</li>
                  <li class="liHome"><%= link_to 'Voir offre', offre %></li>
               </ul>
               <div class="separeBar"></div>
               
      <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if user_signed_in? %>
<div class="containerDescribe">

      <%= image_tag("imgGomeYellow.png", :alt => "image_home") %>
      <p class="presentation">Traduction de H. Rackham (1914)
         "But I must explain to you how all this mistaken idea of 
         give you a complete account of the system, and expound 
         the actual teachings of the great explorer of the truth, 
         the master-builder of human happiness. No one rejects, 
         dislikes, or avoids pleasure itself, because it is pleasure
         ,<br>
         <br>
         but because those who do not know how to pursue pleasure 
         rationally encounter consequences that are extremely 
         denouncing pleasure and praising pain was born and I will
         painful. Nor again is there anyone who loves or pursues or 
         desires to obtain pain of itself, because it is pain, but 
         because occasionally circumstances occur in which toil and 
         pain can procure him some great pleasure. To take a trivial 
         ple, which of us ever undertakes laborious physical 
         exercise, except to obtain some advantage from it? But who
         <br> 
         <br>
         has any right to find fault with a man who chooses to enjoy 
         a pleasure that has no annoying consequences, or one who 
         avoids a pain that produces no resultant pleasure?"
      </p> 
</div>
<br>
<br>


   <% @events.each do |event| %>
  <h2 class="h2Title"><span class="colorLetters">Évén</span>ements</h2>
   
       <div class="cardHome">

        <div class="eventIMG">
          <scope="col"> <%= image_tag event.image_url %></scope="col">
        </div>

        <br>
        <% if user_signed_in? && current_user.conseiller? || current_user.cre? %>
          <div class="linkHomeEvent">
            <%= link_to 'Editer événement', edit_event_path(event) %>
            <%= link_to 'Supprimer événement', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        <% end %>
      </div>
<br>
   <% end %>

<% end %>