

<p id="notice"><%= notice %></p>
<div id="boxy" background-image="../images/background.png"> 



<% if user_signed_in? && current_user.conseiller? %>
    <br>
    <br>
<% else %>
<div class="logo">
    <%= image_tag("Logo-Reussir-en-Sambre-Avesnois.jpg", :alt => "logo_resa") %>
</div>
<% end %>
 
<div class="boxAccount">
    <div class="CreAccount">
        <div class="connexion">
        <h2>
          <% if user_signed_in? %>
          <% elsif %>
            <%= link_to 'Se connecter', new_user_session_path %>
          <% end %>
          </h2>
        </div>
    </div>
</div>

<br>


 <% if user_signed_in? %> 

<div class="containerDashbord">
  <div class="boxPubliCre">

 <div class="publicDashCandidats">
    <div class="lienUtile">
      <p>Liens utiles:</p>
    </div>
    <a href="https://quivamaider.com/">

      <div class="publicDashCandidatsButton mine">
          <%= image_tag("logo-mine-dinfos.png", :alt => "mine-dinfos", :title => "Retrouvez toutes les aides accessibles et les structures autour de chez vous") %>
      </div>
    </a>

    <a href="https://www.gipreussir.fr/">
      <div class="publicDashCandidatsButton">
        <%= image_tag("Logo-Reussir-en-Sambre-Avesnois.jpg", :alt => "Reussir-en-Sambre-Avesnois", :title => "Site web de Réussir En Sambre Avesnois") %>
      </div>
    </a>
  </div> 

    <div class="publicDash ">
        <p class="titleBox">Candidat(e)s </p>
        <div class="numberDynamic"><%= @form_jeunes.count(1) %></div>
    </div> 
  </div>
  <div class="BoxOffreDashboard">
    <div class="OffreDash">
            <p class="titleBox">Offres d'emploi</p>
               <div class="numberDynamic"><%= @offres.count %></div>
               <br>
               <br>
               <div class="ListOffers">
                   <% @offres.reverse_each do |offre| %>
               
               <ul>
                  <li><%= offre.poste %></li>
                  <li><%= offre.contrat %></li>  
                  <li><%= offre.commune %></li> 
                  <li><%= offre.salaire %></li>
                  <li class="liHome"><%= link_to 'Voir offre', offre %></li>
               </ul>
               <div class="separeBar"></div>
               
      <% end %>
      </div>
    </div>
  </div>
</div>

 <% end %> 


<% if user_signed_in? %>
<div data-aos="fade-up">
<div class="containerDescribe">

      <%= image_tag("imgGomeYellow.png", :alt => "image_home") %>
      <p class="presentation">Bienvenue sur App'ijob  !!<br>
      <br>
      <br>
      Notre site web vous permettra, d'une part, de rechercher un emploi dans tout les communautés de l'Avesnois
      mais aussi d'être accompagné par l'équipe de Reussir En Sambre Avesnois.
      <br>
      <br>
      N'hésitez pas à suivre nos Événements qui seront affichés directement sur cette page d'accueil.
      <br>
      <br>
      <br>
      <br>
      RÉUSSIR EN SAMBRE AVESNOIS-Générateur d'Avenirs
      </p> 
</div>
</div>
<br>
<br>


   <% @events.each do |event| %>
   <div data-aos="fade-up">
  <h2 class="h2Title"><span class="colorLetters">Évén</span>ements</h2>
   
       <div class="cardHome">

        <div class="eventIMG">
          <scope="col"> <%= image_tag event.image_url %></scope="col">
        </div>

        <br>
        <% if user_signed_in? && current_user.conseiller? || current_user.cre? %>
          <div class="linkHomeEvent">
            <%= link_to 'Editer événement', edit_event_path(event) %>
            <%= link_to 'Supprimer événement', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        <% end %>
      </div>
    </div>
<br>
   <% end %>
<% end %> 



<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>