<h1>Trelon</h1>

<div class="tassevent">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_trelon_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_trelon_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_trelon_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_trelon_art_index_path %></div>
</div>

<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_trelon_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_trelon_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_trelon_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_trelon_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_trelon_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_trelon_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_trelon_industrieagroalimentaire_index_path %></div>

    <div class="sectorBox industrie"><%= link_to 'Industrie Metallurgie', secteurs_trelon_industriemetallurgie_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox industrie"><%= link_to 'Industrie Automobile', secteurs_trelon_industrieautomobile_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_trelon_maintenance_index_path %></div>

    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_trelon_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_trelon_service_index_path %></div>
</div>    
<div class="sectorJob">  
    <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_trelon_spectacle_index_path %></div>
  
    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_trelon_support_index_path %></div>

    <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_trelon_transport_index_path %></div>

    <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_trelon_nonmarchant_index_path %></div>
</div>
<div class="sectorJob">   
    <div class="sectorBox association"><%= link_to 'Association', secteurs_trelon_association_index_path %></div>
</div>    
</div>