<h1><span class="colorLetters">Candidatures</span> par communauté</h1>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox all"><%= link_to 'Tous...', secteur_candidat_all_index_path %></div>
        <div class="sectorBox avesnes"><%= link_to 'Avesnes Sur Helpe', secteur_candidat_avesnes_index_path %> </div>   
        <div class="sectorBox feignie"><%= link_to 'Feignies', secteur_candidat_feignie_index_path %><br></div>       
        <div class="sectorBox louvroil"><%= link_to 'Louvroil', secteur_candidat_louvroil_index_path %></div>
    </div>
</div>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox fourmies"><%= link_to 'Fourmies', secteur_candidat_fourmies_index_path %></div>
        <div class="sectorBox haumont"><%= link_to 'Haumont', secteur_candidat_haumont_index_path %></div> 
        <div class="sectorBox maubeuge"><%= link_to 'Maubeuge', secteur_candidat_maubeuge_index_path %></div>
        <div class="sectorBox jeumont"><%= link_to 'Jeumont', secteur_candidat_jeumont_index_path %></div>
    </div> 
</div>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox aulnoye"><%= link_to 'Aulnoye-Aymeries', secteur_candidat_aulnoye_index_path %></div>
        <div class="sectorBox quesnoy"><%= link_to 'Le Quesnoy', secteur_candidat_quesnoy_index_path %></div>
        <div class="sectorBox landrecies"><%= link_to 'Landrecies', secteur_candidat_landrecies_index_path %></div>
        <div class="sectorBox blank"></div>
    </div> 
</div>