<% if current_user.conseiller? %>
<%= form_with(model: form_jeune) do |form| %>
  <% if form_jeune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_jeune.errors.count, "error") %> prohibited this form_jeune from being saved:</h2>

      <ul>
        <% form_jeune.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="fieldBoxFormJeune">
<div class="boxConseiller">
<h3>Informations conseiller(ère)</h3>
  <div class="fieldFormJeune">
    <%= form.label :conseiller %>
    <%= form.text_field :advised %>
  </div>

  <div class="fieldFormJeune dateEntretien">
    <%= form.label :Date_entretien %>
    <%= form.date_select :maintenance_date, order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100  %>
  </div>

  <div class="fieldFormJeune Ml">
    <%= form.check_box :ml %>
    <%= form.label :ml %>
    
  </div>

  <div class="fieldFormJeune plie">
    <%= form.check_box :plie %>
    <%= form.label :plie %>
  </div>

    <div class="fieldFormJeune">
    <%= form.label :autres %>
    <%= form.text_field :autres %>
  </div>
</div>

<div class="boxInfoPublic">
<h3>Informations Candidat(e)</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :status %>
    <%= form.select :status, ['Disponible', 'Vérifier disponibilité', 'Indisponible'] %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :prénom %>
    <%= form.text_field :firstname %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :nom %>
    <%= form.text_field :lastname %>
  </div>
<br>
  <div class="fieldFormJeune BornForm">
    <%= form.label :date_de_naissance %>
    <%= form.date_select :born, order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100  %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :adresse %>
    <%= form.text_field :address %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :téléphone %>
    <%= form.text_field :tel %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :email %>
    <%= form.text_field :mail %>
  </div>
<br>
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :registered_PE %>
    <%= form.label :Inscrit_à_Pole_Emploi %>
  </div>  
<br>
  <p>Si Oui depuis quand ?</p>
<br>
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :inf_to_six_month %>
    <%= form.label :"0_à_6_mois" %>
  </div>  
  
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :between_six_and_twelve_month %>
    <%= form.label :"6_à_12_mois" %>
  </div>  

  <div class="fieldFormJeune PEForm">
    <%= form.check_box :sup_to_two_years %>
    <%= form.label :"plus_de_24_mois" %>
  </div>  
  <br>
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :registered_RSA %>
    <%= form.label :"RSA" %>
  </div>  

    <div class="fieldFormJeune PEForm">
    <%= form.check_box :qpv %>
    <%= form.label :"QPV" %>
  </div>  

      <div class="fieldFormJeune PEForm">
    <%= form.check_box :RQTH %>
    <%= form.label :"RQTH" %>
  </div>  
</div>

  <h3>Mobilité</h3>

  <div class="fieldFormJeune BornForm" style="text-align: left;">
    <%= form.label :"Permis" %>
    <%= form.select :permis, ['Oui', 'Non', 'En cours'] %>
  </div>  
<br>
  <div class="fieldFormJeune BornForm" style="text-align: left;">
    <%= form.label :"Moyen_de_locomotion" %>
    <%= form.select :locomotion, ['Transport en commun', 'Famille', 'Voiture', 'scooter', 'autre'] %>
  </div> 
<br>
  <div class="fieldFormJeune BornForm" style="text-align: left;">
    <%= form.label :"Mobilité_durée" %>
    <%= form.select :mobilite_duration, ['10 minutes', '20 minutes', '30 minutes', '1 Heure', 'plus d\'1 heure'] %>
  </div> 
<br>
  <div class="fieldFormJeune BornForm" style="text-align: left;">
    <%= form.label :"Mobilité_kilomètre" %>
    <%= form.select :mobilite_kilometers, ['Moins de 5 km', '10 km', '20 km', '30 km', '40 km', 'plus de 50 km'] %>
  </div> 
<br>
  <div class="fieldFormJeune">
    <%= form.label :Permis_spécifique %>
    <%= form.text_field :specifique_permis %>
  </div>

  <h3>Experiences</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Formation_et/ou_dernier_diplôme" %>
    <%= form.text_area :formation_diplome %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Commentaire" %>
    <%= form.text_area :formation_comments %>
  </div>
  <br>

  <div class="fieldFormJeune BornForm ">
    <%= form.label :"obtention_du_diplome" %>
    <%= form.select :obtention_diplome, ['Oui', 'Non'] %>
  </div>
<br>

  <div class="fieldFormJeune BornForm ">
    <%= form.label :"date_de_l'\obtention" %>
    <%= form.date_select :date_obtention, order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100 %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_métier" %>
    <%= form.text_area :post_exp %>
  </div>
<br>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_entreprise" %>
    <%= form.text_area :enterprise_exp %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Activité_mission" %>
    <%= form.text_area :mission_exp %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Type_de_contrat" %>
    <%= form.text_area :contrat_exp %>
  </div>
<br>


  <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item-inscription">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Vos catégories des métiers
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
  <div class="fieldcheckboxaccordion">
      <%= form.check_box :Agriculture %>
      <%= form.label :Agriculture %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Alimentation %>
      <%= form.label :Alimentation %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Animaux %>
      <%= form.label :Animaux %>
   </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Architecture %>
      <%= form.label :Architecture %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Armée_Sécurité_secours %>
      <%= form.label :Armée_Sécurité_secours %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Artisanat %>
      <%= form.label :Artisanat %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Banque_Assurance %>
      <%= form.label :Banque_Assurance %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Bâtiment %>
      <%= form.label :Bâtiment %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Biologie%>    
      <%= form.label :Biologie %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Commerce_immobilier %>
      <%= form.label :Commerce_immobilier %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Communication %>
      <%= form.label :Communication %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Spectacle %>
      <%= form.label :Spectacle %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Droit %>
      <%= form.label :Droit %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Edition_Imprimerie %>
      <%= form.label :Edition_Imprimerie %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Informatique %>
      <%= form.label :Informatique %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Enseignement %>
      <%= form.label :Enseignement %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Environnement %>
      <%= form.label :Environnement %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Ressources_Humaine %>
      <%= form.label :Ressources_Humaine %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Restauration %>
      <%= form.label :Restauration %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Humanitaire %>
      <%= form.label :Humanitaire %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Sciences_Humaines %>
      <%= form.label :Sciences_Humaines %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Maintenance %>
      <%= form.label :Maintenance %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Numérique_Multimédia %>
      <%= form.label :Numérique_Multimédia %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Santé %>
      <%= form.label :Santé %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Sciences_Mathématiques %>
      <%= form.label :Sciences_Mathématiques %>
    </div>


    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Industrie_Agroalimentaire %>
      <%= form.label :Industrie_Agroalimentaire %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Industrie_Metallurgie %>
      <%= form.label :Industrie_Metallurgie %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Industrie_Automobile %>
      <%= form.label :Industrie_Automobile %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Secrétariat %>
      <%= form.label :Secrétariat %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Social %>
      <%= form.label :Social %>

    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Estétique_Coiffure %>
      <%= form.label :Estétique_Coiffure %>
    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Sport_Animation %>
      <%= form.label :Sport_Animation %>

    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Non_marchant %>
      <%= form.label :Non_marchant %>

    </div>

    <div class="fieldcheckboxaccordion">
      <%= form.check_box :Transport_Logistique %>
      <%= form.label :Transport_Logistique %>

    </div>      </div>
    </div>
  </div>
</div>

<br>

  <div class="fieldFormJeune">
    <%= form.label :"Si actif,_poste_occupé_actuellement" %>
    <%= form.text_area :metier_exp %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_recherché" %>
    <%= form.text_area :postsearched_exp %>
  </div>
<br>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Alternance" %>
    <%= form.select :alternance_exp, ['Contrat pro', 'Apprentissage', 'Non']%>
  </div>

  <h3>Bilan parcours professionnel</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Atouts" %>
    <%= form.text_field :atouts_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Faiblesses" %>
    <%= form.text_field :faiblesses_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Votre_meilleure_experience_et_pourquoi_?" %>
    <%= form.text_area :meilleurexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Un_poste_que_vous_ne_voulez_plus_occuper_et_pourquoi_?" %>
    <%= form.text_area :finishedexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_objectifs_à_court_terme:" %>
    <%= form.text_area :courtterme_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_objectifs_à_moyen_terme:" %>
    <%= form.text_area :moyenterme_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_objectifs_à_long_terme:" %>
    <%= form.text_area :longterme_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Connaissance logiciel:" %>
    <%= form.text_field :logicielexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Loisirs:" %>
    <%= form.text_field :loisirs_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Investissement_associatif:" %>
    <%= form.text_field :associatif_bilan %>
  </div>


  <h3>Évaluation de l'Investissement du candidat(e)</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Comment_organisez-vous_votre_recherche_d'emploi_?" %>
    <%= form.text_area :searchjob_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Où_avez-vous_postulé_?" %>
    <%= form.text_area :postulation_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Freins_direct:" %>
    <%= form.text_area :freindirect_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Freins_indirect:" %>
    <%= form.text_area :freinindirect_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"qu'est-ce_qui_vous_motive_à_être_actif_dans_votre_recherche_d\'emploi_?" %>
    <%= form.text_area :actifsearch_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Quel_type_de_contrat_recherchez_vous_?" %>
    <%= form.text_area :typesearchcontrat_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Quels_sont_vos_contraintes_?" %>
    <%= form.text_area :contrainte_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_connaissances_sur_le_métier_?" %>
    <%= form.text_area :connaissancemetier_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"conclusion:" %>
    <%= form.text_area :conclusion_eval %>
  </div>
  <br>

  <div class="fieldFormJeune">
    <%= form.label :"commentaire:" %>
    <%= form.text_area :commentaire_eval %>
  </div>

  <h3>Recommandations</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Intégration:" %>
    <%= form.select :integration_recom, ['Oui', 'Non', 'en attente', 'oui avec coaching']%>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :Ajouter_un_CV %>
    <%= form.file_field :image, value: form_jeune.cached_image_data %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Suivi_parcours_SelEC:" %>
    <%= form.text_area :relation_celec %>
  </div>

<h3>Point situation</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Candidat_sous_contrat:" %>
    <%= form.select :candidat_situation, ['CDD', 'CDI','SC', 'INT']%>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Nom_entreprise:" %>
    <%= form.text_area :enterprise_situation %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_dans_l\'entreprise:" %>
    <%= form.text_area :post_situation %>
  </div>
<br>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Depuis_quand_?" %>
    <%= form.date_select :date_situation, order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100  %>
  </div>

<h3>Sortie positive</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"sortie_positif:" %>
    <%= form.select :sortie_positif, ['CDI','Formation','CDD de plus de 6 mois et 1 jour']%>
  </div>
<br>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Depuis_quand_?" %>
    <%= form.date_select :date_positif, order: [:day, :month, :year], prompt: { day: 'Jour', month: 'Mois', year: 'Année' }, start_year: Date.today.year - 0, end_year: Date.today.year - 100  %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Type_formation:" %>
    <%= form.text_area :typeformation_positif %>
  </div>
<br>
    <div class="fieldFormJeune">
    <%= form.label :"Entreprise:" %>
    <%= form.text_area :enterprise_positif %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_occupé_dans_l\'entreprise:" %>
    <%= form.text_area :postoccuped_positif %>
  </div>
<br>
  <div class="actions">
    <%= form.submit value="Valider" %>
  </div>
  </div>
<% end %>
<% elsif %>
      <h1 class="block">Désolé ! Tu n'as pas accès a cette page</h1>
<% end %>
