<% if current_user.conseiller? %>
<%= form_with(model: form_jeune) do |form| %>
  <% if form_jeune.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form_jeune.errors.count, "error") %> prohibited this form_jeune from being saved:</h2>

      <ul>
        <% form_jeune.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="fieldBoxFormJeune">
<div class="boxConseiller">
<h3>Informations conseiller</h3>
  <div class="fieldFormJeune">
    <%= form.label :conseiller %>
    <%= form.text_field :advised %>
  </div>

  <div class="fieldFormJeune dateEntretien">
    <%= form.label :Date_entretien %>
    <%= form.date_select :maintenance_date %>
  </div>

  <div class="fieldFormJeune Ml">
    <%= form.check_box :ml %>
    <%= form.label :ml %>
    
  </div>

  <div class="fieldFormJeune plie">
    <%= form.check_box :plie %>
    <%= form.label :plie %>
  </div>
</div>

<div class="boxInfoPublic">
<h3>Informations Public</h3>
  <div class="fieldFormJeune">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>
<br>
  <div class="fieldFormJeune BornForm">
    <%= form.label :born %>
    <%= form.date_select :born %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :tel %>
    <%= form.text_field :tel %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>
<br>
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :registered_PE %>
    <%= form.label :Inscrit_à_Pole_Emploi %>
  </div>  
<br>
  <p>Si Oui depuis quand ?</p>
<br>
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :inf_to_six_month %>
    <%= form.label :"0_à_6_mois" %>
  </div>  
  
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :between_six_and_twelve_month %>
    <%= form.label :"6_à_12_mois" %>
  </div>  

  <div class="fieldFormJeune PEForm">
    <%= form.check_box :sup_to_two_years %>
    <%= form.label :"plus_de_24_mois" %>
  </div>  
  
  <div class="fieldFormJeune PEForm">
    <%= form.check_box :registered_RSA %>
    <%= form.label :"RSA" %>
  </div>  

    <div class="fieldFormJeune PEForm">
    <%= form.check_box :qpv %>
    <%= form.label :"QPV" %>
  </div>  
</div>

  <h3>Mobilité</h3>

  <div class="fieldFormJeune" style="text-align: left;">
    <%= form.label :"Permis" %>
    <%= form.select :permis, ['Oui', 'Non', 'En cours'] %>
  </div>  
<br>
  <div class="fieldFormJeune" style="text-align: left;">
    <%= form.label :"Moyen_de_locomotion" %>
    <%= form.select :locomotion, ['Transport en commun', 'Famille', 'Voiture', 'scooter', 'autre'] %>
  </div> 
<br>
  <div class="fieldFormJeune" style="text-align: left;">
    <%= form.label :"Mobilité_durée" %>
    <%= form.select :mobilite_duration, ['10 minutes', '20 minutes', '30 minutes', '1 Heure', 'plus d\'1 heure'] %>
  </div> 
<br>
  <div class="fieldFormJeune" style="text-align: left;">
    <%= form.label :"Mobilité_kilomètre" %>
    <%= form.select :mobilite_kilometers, ['Moins de 5 km', '10 km', '20 km', '30 km', '40 km', 'plus de 50 km'] %>
  </div> 
<br>
  <div class="fieldFormJeune">
    <%= form.label :Permis_spécifique %>
    <%= form.text_field :specifique_permis %>
  </div>

  <h3>Experiences</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Formation_et/ou_diplôme" %>
    <%= form.text_area :formation_diplome %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Commentaire" %>
    <%= form.text_area :formation_comments %>
  </div>
  <br>

  <div class="fieldFormJeune BornForm ">
    <%= form.label :"obtention_du_diplome" %>
    <%= form.select :obtention_diplome, ['Oui', 'Non'] %>
  </div>
<br>

  <div class="fieldFormJeune BornForm ">
    <%= form.label :"date_de_l'\obtention" %>
    <%= form.date_select :date_obtention %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_poste" %>
    <%= form.text_area :post_exp %>
  </div>
<br>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_entreprise" %>
    <%= form.text_area :enterprise_exp %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_mission" %>
    <%= form.text_area :mission_exp %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Experience_contrat" %>
    <%= form.text_area :contrat_exp %>
  </div>
<br>
  <div class="fieldFormJeune BornForm ">
    <%= form.label :"Experience_domaine" %>
    <%= form.select :domain_exp, ['Agriculture et pêche', 'Espaces verts', 'Soins aux animaux',
    'Ouvrage d\'art', 'Banque, assur. immo.', 'Commerce, Vente', 'Communication', 'Bâtiment',
    'Restauration', 'Tourisme, Loisirs', 'Industrie Agroalimentaire', 'Industrie Metallurgie', 
    'Industrie Automobile', 'Maintenance', 'Santé', 'Service à la personne',
    'Spectacle', 'Support à l\'entreprise', 'Transport, Logistique', 'non marchant',
    'Association']%>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Poste_occupé" %>
    <%= form.text_area :metier_exp %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_recherché" %>
    <%= form.text_area :postsearched_exp %>
  </div>
<br>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Alternance" %>
    <%= form.select :alternance_exp, ['Oui', 'Non']%>
  </div>

  <h3>Bilan parcours professionnel</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Atouts" %>
    <%= form.text_field :atouts_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Faiblesses" %>
    <%= form.text_field :faiblesses_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Votre_meilleure_experience_et_pourquoi_?" %>
    <%= form.text_area :meilleurexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Un_poste_que_vous_ne_voulez_plus_occuper_et_pourquoi_?" %>
    <%= form.text_area :finishedexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_objectifs_à_court_terme:" %>
    <%= form.text_area :courtterme_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_objectifs_à_long_terme:" %>
    <%= form.text_area :longterme_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Connaissance logiciel:" %>
    <%= form.text_field :logicielexp_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Loisirs:" %>
    <%= form.text_field :loisirs_bilan %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Investissement_associatif:" %>
    <%= form.text_field :associatif_bilan %>
  </div>


  <h3>Évaluation de l'Investissement du candidat</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Comment_organisez-vous_votre_recherche_d'emploi_?" %>
    <%= form.text_area :searchjob_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Où_avez-vous_postulé_?" %>
    <%= form.text_area :postulation_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Freins_direct:" %>
    <%= form.text_area :freindirect_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Freins_indirect:" %>
    <%= form.text_area :freinindirect_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"qu'est-ce_qui_vous_motive_à_être_actif_dans_votre_recherche_d\'emploi_?" %>
    <%= form.text_area :actifsearch_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Quel_type_de_contrat_recherchez_vous_?" %>
    <%= form.text_area :typesearchcontrat_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Quels_sont_vos_contraintes_?" %>
    <%= form.text_area :contrainte_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"Vos_connaissances_sur_le_métier_?" %>
    <%= form.text_area :connaissancemetier_eval %>
  </div>
<br>

  <div class="fieldFormJeune">
    <%= form.label :"conclusion:" %>
    <%= form.text_area :conclusion_eval %>
  </div>
  <br>

  <div class="fieldFormJeune">
    <%= form.label :"commentaire:" %>
    <%= form.text_area :commentaire_eval %>
  </div>

  <h3>Recommandations</h3>

  <div class="fieldFormJeune">
    <%= form.label :"Intégration:" %>
    <%= form.select :integration_recom, ['Oui', 'Non', 'en attente', 'oui avec coaching']%>
  </div>
<br>


<%
=begin%>
 fichier cv 
<%
=end%>

  <div class="fieldFormJeune">
    <%= form.label :image %>
    <%= form.file_field :image, value: form_jeune.cached_image_data %>
  </div>


  <div class="fieldFormJeune">
    <%= form.label :"Suivi_parcours_SelEC:" %>
    <%= form.text_area :relation_celec %>
  </div>

<h3>Point situation</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Candidat_sous_contrat:" %>
    <%= form.select :candidat_situation, ['CDD', 'CDI','SC', 'INT']%>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Nom_entreprise:" %>
    <%= form.text_area :enterprise_situation %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_dans_l\'entreprise:" %>
    <%= form.text_area :post_situation %>
  </div>
<br>3 errors prohibited this user from being saved:
Email can't be blank

  <div class="fieldFormJeune">
    <%= form.label :"Depuis_quand_?" %>
    <%= form.date_select :date_situation %>
  </div>

<h3>Sortie positive</h3>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"sortie_positif:" %>
    <%= form.select :sortie_positif, ['CDI','Formation']%>
  </div>
<br>

  <div class="fieldFormJeune BornForm">
    <%= form.label :"Depuis_quand_?" %>
    <%= form.date_select :date_positif %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Type_formation:" %>
    <%= form.text_area :typeformation_positif %>
  </div>
<br>
    <div class="fieldFormJeune">
    <%= form.label :"Entreprise:" %>
    <%= form.text_area :enterprise_positif %>
  </div>
<br>
  <div class="fieldFormJeune">
    <%= form.label :"Poste_occupé_dans_l\'entreprise:" %>
    <%= form.text_area :postoccuped_positif %>
  </div>
<br>
  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
<% elsif %>
      <h1 class="block">Désolé ! Tu n'as pas accès a cette page</h1>
<% end %>
