<% if current_user.conseiller? %>
<p id="notice"><%= notice %></p>

<h1 class="h2Title"><span class="colorLetters">Form</span>ulaire</h1>

<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Date de naissance</th>
      <th>Adresse</th>
      <th>Tel</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_jeunes.each do |form_jeune| %>
      <tr>
        <td><%= form_jeune.firstname %></td>
        <td><%= form_jeune.lastname %></td>
        <td><%= form_jeune.born %></td>
        <td><%= form_jeune.address %></td>
        <td><%= form_jeune.tel %></td>
        <td><%= form_jeune.mail %></td>
        <td><%= link_to 'Voir', form_jeune %></td>
        <td><%= link_to 'Éditer', edit_form_jeune_path(form_jeune) %></td>
        <td><%= link_to 'Supprimer', form_jeune, method: :delete, data: { confirm: 'Êtes-vous certain ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="links">
<%= link_to 'Retour', :back %>
</div>
<% elsif %>
  <h1 class="block">Désolé ! Tu n'as pas accès a cette page</h1>
<% end %>
