<p id="notice"><%= notice %></p>

<h1>Books</h1>


<div class="container_book">
<table>
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @form_jeunes.each do |formjeune| %>
      <tr>
        <td><%= formjeune.firstname %></td>
        <td><%= formjeune.lastname %></td>
        <td><%= formjeune.mail %></td>
        <td><%= link_to 'Voir plus', formjeune %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


