<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @book.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @book.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @book.email %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
