<div class="fieldBox">
<h2 class="h2Title"><span class="colorLetters">Co</span>nnexion</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="fieldSessions">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="fieldSessions">
    <%= f.label :Mot_de_passe %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="fieldcheckbox">
      <%= f.check_box :remember_me %>
      <%= f.label :Se_souvenir_de_moi %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Connexion" %>
  </div>
<% end %>

<div class="links">
<%= render "devise/shared/links" %>
</div>
</div>