<h1>Larouillies</h1>

<div class="tassevent">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_larouillies_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_larouillies_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_larouillies_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_larouillies_art_index_path %></div>
</div>

<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_larouillies_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_larouillies_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_larouillies_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_larouillies_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_larouillies_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_larouillies_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_larouillies_industrieagroalimentaire_index_path %></div>

    <div class="sectorBox industrie"><%= link_to 'Industrie Metallurgie', secteurs_larouillies_industriemetallurgie_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox industrie"><%= link_to 'Industrie Automobile', secteurs_larouillies_industrieautomobile_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_larouillies_maintenance_index_path %></div>

    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_larouillies_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_larouillies_service_index_path %></div>
</div>    
<div class="sectorJob">  
    <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_larouillies_spectacle_index_path %></div>

    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_larouillies_support_index_path %></div>

    <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_larouillies_transport_index_path %></div>

    <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_larouillies_nonmarchant_index_path %></div>
</div>
<div class="sectorJob">   
    <div class="sectorBox association"><%= link_to 'Association', secteurs_larouillies_association_index_path %></div>
</div>    
</div>  