<h1>Écuélin</h1>

<div class="tassevent">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_ecuelin_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_ecuelin_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_ecuelin_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_ecuelin_art_index_path %></div>
</div>

<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_ecuelin_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_ecuelin_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_ecuelin_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_ecuelin_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_ecuelin_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_ecuelin_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs_ecuelin_industrieagroalimentaire_index_path %></div>

    <div class="sectorBox industrie"><%= link_to 'Industrie Metallurgie', secteurs_ecuelin_industriemetallurgie_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox industrie"><%= link_to 'Industrie Automobile', secteurs_ecuelin_industrieautomobile_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_ecuelin_maintenance_index_path %></div>

    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_ecuelin_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_ecuelin_service_index_path %></div>
</div>    
<div class="sectorJob">  
    <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_ecuelin_spectacle_index_path %></div>
  
    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_ecuelin_support_index_path %></div>

    <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_ecuelin_transport_index_path %></div>

    <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_ecuelin_nonmarchant_index_path %></div>
</div>
<div class="sectorJob">   
    <div class="sectorBox association"><%= link_to 'Association', secteurs_ecuelin_association_index_path %></div>
</div>    
</div>