<h1>Tous les secteurs</h1>



<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_all_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_all_espacevert_index_path %></div>
         
    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_all_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_all_art_index_path %></div>
</div>


<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_all_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_all_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_all_communication_index_path %></div>

    <div class="sectorBox biologie"><%= link_to 'Bâtiment', secteurs_all_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Restauration', secteurs_all_restauration_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Tourisme, Loisirs', secteurs_all_tourisme_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Industrie', secteurs_all_industrie_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Maintenance', secteurs_all_maintenance_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Santé', secteurs_all_sante_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Service à la personne', secteurs_all_service_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Spectacle', secteurs_all_spectacle_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Support à l\'entreprise', secteurs_all_support_index_path %></div>
</div> 
<div class="sectorJob">
    <div class="sectorBox commerce"><%= link_to 'Transport, Logistique', secteurs_all_transport_index_path %></div>

    <div class="sectorBox communication"><%= link_to 'Pôle collectivités', secteurs_all_collectivite_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Service public', secteurs_all_servicepublic_index_path %></div>

    <div class="sectorBox secours"><%= link_to 'Association', secteurs_all_association_index_path %></div>
</div>    
</disecteurs_all


