<p id="notice"><%= notice %></p>



<p id="notice"><%= notice %></p>

<h1><span class="colorLetters">Offres</span> par communauté</h1>
 <% if current_user && current_user.conseiller? || current_user.cre? %>
    <div class="newOffre"><%= link_to 'Créer une offre d\'emploi', new_offre_path %></div>
  <% end %>


<%= link_to 'Créer une offre d\'emploi', new_offre_path %>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox landrecies"><%= link_to 'Landrecies', secteurs_landrecies_index_path %></div>
        <div class="sectorBox avesnes"><%= link_to 'Avesnes Sur Helpe', secteurs_avesnes_index_path %> </div>   
        <div class="sectorBox feignie"><%= link_to 'Feignie', secteurs_feignie_index_path %><br></div>       
        <div class="sectorBox louvroil"><%= link_to 'Louvroil', secteurs_louvroil_index_path %></div>
    </div>
</div>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox fourmies"><%= link_to 'Fourmies', secteurs_fourmies_index_path %></div>
        <div class="sectorBox haumont"><%= link_to 'Haumont', secteurs_haumont_index_path %></div> 
        <div class="sectorBox maubeuge"><%= link_to 'Maubeuge', secteurs_maubeuge_index_path %></div>
        <div class="sectorBox jeumont"><%= link_to 'Jeumont', secteurs_jeumont_index_path %></div>
    </div> 
</div>

<div class="sectorJobOffres">
    <div class="sectorJob">
        <div class="sectorBox aulnoye"><%= link_to 'Aulnoye-Aymeries', secteurs_aulnoye_index_path %></div>
        <div class="sectorBox quesnoy"><%= link_to 'Le Quesnoy', secteurs_quesnoy_index_path %></div>
        <div class="sectorBox blank"></div>
        <div class="sectorBox blank"></div>
    </div> 
</div>








