<p id="notice"><%= notice %></p>
<div class="offreShow">
  <div class="offreShowTop">
    <p>
      <strong><%= @offre.poste %></strong>
      
    </p>
    <p>
      
      <%= @offre.commune %>
    </p>
  </div>

  <div class="offreShowTop">
    <p>
     
      <%= @offre.adress %>
    </p>
    <p>
     
      <%= @offre.email %>
    </p>
  </div>

  <div class="offreShowjob">
  <% if @offre.salaire? %>
  <p>
    salaire:
    <%= @offre.salaire %>
  </p>
  <% end %>
  <p>

    <%= @offre.contrat %>
  </p>
  </div>
  <p>
  <br>
    <strong>description:</strong><br>
    
    <%= @offre.description %>
  </p>
</div>

<div class="linkShow">
<%= link_to 'Editer', edit_offre_path(@offre) %> |
<%= link_to 'Retour', offres_path %>
</div>