<h1>Avesnes-Sur-Helpe</h1>


<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_avesnes_agriculture_index_path %> </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_avesnes_espacevert_index_path %></div>

    <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_avesnes_animals_index_path %></div>
            
    <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_avesnes_art_index_path %></div>
</div>
<div class="sectorJob">
     <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_avesnes_banque_index_path %></div>

   <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_avesnes_commerce_index_path %></div>
          
    <div class="sectorBox communication"><%= link_to 'Communication', secteurs_avesnes_communication_index_path %></div>

    <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_avesnes_batiment_index_path %></div>
</div> 


<div class="sectorJob">
    <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_avesnes_restauration_index_path %></div>

    <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_avesnes_tourisme_index_path %></div>
          
    <div class="sectorBox industrie"><%= link_to 'Industrie', secteurs_avesnes_industrie_index_path %></div>

    <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_avesnes_maintenance_index_path %></div>
</div> 

<div class="sectorJob">
    <div class="sectorBox sante"><%= link_to 'Santé', secteurs_avesnes_sante_index_path %></div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_avesnes_service_index_path %></div>
          
    <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_avesnes_spectacle_index_path %></div>

    <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_avesnes_support_index_path %></div>
</div> 

<div class="sectorJobLast">
    <div class="sectorBoxLast transport"><%= link_to 'Transport, Logistique', secteurs_avesnes_transport_index_path %></div>

    <div class="sectorBoxLast collectivite"><%= link_to 'Non marchant', secteurs_avesnes_nonmarchant_index_path %></div>
          
    <div class="sectorBoxLast association"><%= link_to 'Association', secteurs_avesnes_association_index_path %></div>
</div>    
</div>  

