<h1>Maroilles</h1>

<div class="test">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_maroilles_agriculture_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Agriculture et pêche', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>
    </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs_maroilles_espacevert_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Espaces verts', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs_maroilles_animals_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Soins aux animaux', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>
    </div>
            
        <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs_maroilles_art_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Ouvrage d\'art', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>  
    </div>
</div>

<div class="sectorJob">
          <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs_maroilles_banque_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Banque, assurance, immobilier', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>  
     </div>

      <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs_maroilles_commerce_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Commerce, Vente', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
   </div>
          
        <div class="sectorBox communication"><%= link_to 'Communication', secteurs_maroilles_communication_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Communication', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs_maroilles_batiment_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Bâtiment', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>

<div class="sectorJob">
        <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs_maroilles_restauration_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Restauration', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs_maroilles_tourisme_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Tourisme, Loisirs', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
          
      <div class="sectorBox industrieagroalimentaire"><%= link_to 'Industrie Agroalimentaire', secteurs_maroilles_industrieagroalimentaire_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Agroalimentaire', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>   
    </div>

      <div class="sectorBox industriemetallurgie"><%= link_to 'Industrie Metallurgie', secteurs_maroilles_industriemetallurgie_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Metallurgie', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
</div> 

<div class="sectorJob">
      <div class="sectorBox industrieautomobile"><%= link_to 'Industrie Automobile', secteurs_maroilles_industrieautomobile_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Automobile', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>   
    </div>

       <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs_maroilles_maintenance_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Maintenance', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox sante"><%= link_to 'Santé', secteurs_maroilles_sante_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Santé', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
    
    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs_maroilles_service_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Service à la personne', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>    

<div class="sectorJob">  
        <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs_maroilles_spectacle_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Spectacle', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>  
    </div>
  
       <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs_maroilles_support_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Support à l\'entreprise', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs_maroilles_transport_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Transport, Logistique', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs_maroilles_nonmarchant_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Non marchant', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>

<div class="sectorJob">   
       <div class="sectorBox association"><%= link_to 'Association', secteurs_maroilles_association_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Association', commune: 'Maroilles').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>    
</div>