<h1 class="h2Title"><span class="colorLetters">Réglage</span> compte conseiller</h1>
 
   
      <table class="tableCre" id="myTable">
        <thead>
        <tr>
          <th class="th-sm">Prénom, Nom</th>
          <th class="th-sm">Email</th>
          <th class="th-sm">Statut</th>
          <th class="th-sm">Rôle</th>
        </tr> 
      </thead>
          <tbody>
 <% @users.each do |user| %>
   <% if user_signed_in? &&  current_user.conseiller? %>
        <% if user.demandecre === "OUI" || user.demandeconseiller === "OUI" %>
    
            <tr>
                <td><p><%= user.firstname %> <%= user.lastname %></p> </td>
                <td><p><%= user.email %></p></td>
            
                <td><% if user.demandecre === 'OUI'  && user.cre != true %>
                    <p>Demande de compte Cre</p>
                <% elsif user.demandeconseiller === 'OUI' && user.conseiller != true %>
                    <p>Demande de compte Conseiller</p>
                <% elsif user.demandecre === 'OUI' && user.cre = true %>
                    <p>Cre</p>
                <% elsif user.demandeconseiller === 'OUI' && user.conseiller = true %>
                    <p>Conseiller</p>
                <% end %></td>
               <td><% if user.demandeconseiller === "OUI" %>
                    <p><%= link_to 'Passer en conseiller', role_path(user), method: :put, data: { confirm: 'Êtes-vous sûr ? Un utilisateur classique pourra accèder au panneau d\'administration.' } %></p>
                <% end %>
                <% if user.demandecre === "OUI" %>
                    <p><%= link_to 'Passer en CRE', rolecre_path(user), method: :put, data: { confirm: 'Êtes-vous sûr ? Un utilisateur classique pourra accèder au panneau d\'administration.' } %></p>
                <% end %></td>
               </tr>
                       <% end %>
    <% end %>   
<% end %>

          </tbody>
  </table>


  
