<h1>Amfroipret</h1>

<div class="tassevent">
<div class="sectorJob">
    <div class="sectorBox Agriculture"><%= link_to 'Agriculture et pêche', secteurs_amfroipret_agriculture_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Agriculture et pêche', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>
    </div>

    <div class="sectorBox espacevert"><%= link_to 'Espaces verts', secteurs__espacevert_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Espaces verts', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox animals"><%= link_to 'Soins aux animaux', secteurs__animals_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Soins aux animaux', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>
    </div>
          
            
        <div class="sectorBox art"><%= link_to 'Ouvrage d\'art', secteurs__art_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Ouvrage d\'art', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>  
    </div>
</div>

         

<div class="sectorJob">
          <div class="sectorBox banque"><%= link_to 'Banque, assur. immo.', secteurs__banque_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Banque, assurance, immobilier', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>  
     </div>

      <div class="sectorBox commerce"><%= link_to 'Commerce, Vente', secteurs__commerce_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Commerce, Vente', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
   </div>
          
        <div class="sectorBox communication"><%= link_to 'Communication', secteurs__communication_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Communication', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox batiment"><%= link_to 'Bâtiment/Travaux public', secteurs__batiment_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Bâtiment', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div> 


<div class="sectorJob">
        <div class="sectorBox restauration"><%= link_to 'Hôtellerie/Restauration', secteurs__restauration_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Restauration', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox tourisme"><%= link_to 'Tourisme, Loisirs', secteurs__tourisme_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Tourisme, Loisirs', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
          
      <div class="sectorBox industrie"><%= link_to 'Industrie Agroalimentaire', secteurs__industrieagroalimentaire_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Agroalimentaire', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>   
    </div>

      <div class="sectorBox industrie"><%= link_to 'Industrie Metallurgie', secteurs__industriemetallurgie_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Metallurgie', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
</div> 
<div class="sectorJob">
      <div class="sectorBox industrie"><%= link_to 'Industrie Automobile', secteurs__industrieautomobile_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Industrie Automobile', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>   
    </div>
       <div class="sectorBox maintenance"><%= link_to 'Maintenance', secteurs__maintenance_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Maintenance', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

        <div class="sectorBox sante"><%= link_to 'Santé', secteurs__sante_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Santé', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>

    <div class="sectorBox service"><%= link_to 'Service à la personne', secteurs__service_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Service à la personne', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>

<div class="sectorJob">  
        <div class="sectorBox spectacle"><%= link_to 'Spectacle/Événementiel', secteurs__spectacle_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Spectacle', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

       <div class="sectorBox support"><%= link_to 'Support à l\'entreprise', secteurs__support_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Support à l\'entreprise', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>  
    </div>

        <div class="sectorBox transport"><%= link_to 'Transport, Logistique', secteurs__transport_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Transport, Logistique', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %>
    </div>

        <div class="sectorBox collectivite"><%= link_to 'Non marchant', secteurs__nonmarchant_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Non marchant', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>

<div class="sectorJob">   
       <div class="sectorBox association"><%= link_to 'Association', secteurs__association_index_path %>
        <% @offres.each do |offre| %>
            <div class="containerBadge">
                <div class="badge"><p><%= @offres.where(domaine: 'Association', commune: 'Amfroipret').count(1) %><p></div>
            </div>
        <% end %> 
    </div>
</div>    
</div> 