<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<% if current_user.conseiller? %>

<h1><span class="colorLetters">Pu</span>blic</h1>

<div class="PublicContainer">
  <h2>Entretien à prévoir</h2>
  <ul class="list-group">
    <div class="search-list">
      <table class="table" id="myTable">
        <thead>
        <tr>
          <th class="th-sm">Prénom, Nom</th>
          <th class="th-sm">Addresse</th>
          <th class="th-sm">Email</th>
          <th class="th-sm">Validation entretien</th>
        </tr> 
      </thead>
      <% @users.each do |user| %>
        <% if user.cre? || user.conseiller? %>
        <% elsif %>
        <% if user.status? %>
        <% elsif %>
          <tbody>
            <tr>
              <td><%= user.firstname %><span> </span><%= user.lastname %></td>
              <td><%= user.adress %></td>
              <td><%= user.email %></td>
              <td><div class="linkPublic"><%= link_to 'Entretien effectué', user, method: :delete, data: { confirm: 'Êtes-vous certain ?' } %></div></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    <% end %>
  </table>
  </ul>
</div>

  




    <div class="PublicContainer">
    <h2>Candidats</h2>
    <ul class="list-group">
    


<div class="container search-table">
            <div class="search-box">
                <div class="row">
                    <div class="col-md-3">
                        <h5>Rechercher un candidat :</h5>
                    </div>
                    <div class="col-md-9">
                      <input class="form-control" id="myInput" type="text" placeholder="Recherche.."> 

                    </div> 
                </div>
            </div>
            <div class="search-listTwo">
                <table class="table" id="myTable">
                       <thead>
         <tr>
            <th class="th-sm">Statut</th>
            <th class="th-sm">Prénom, Nom</th>
            <th class="th-sm">Domaine</th>
            <th class="th-sm">Métier</th>
            <th class="th-sm">Addresse</th>
            <th class="th-sm">Email</th>
            <th class="th-sm">Informations</th>
         </tr>
        </thead>
            <% @form_jeunes.each do |form_jeune| %>
        <tbody>
         <tr>
         <% if form_jeune.status === 'Disponible' %>
            <td><p>..🟢</p></td>
          <% elsif form_jeune.status === 'Vérifier disponibilité' %>
            <td><p>..🟠</p></td>
          <% elsif form_jeune.status === 'Indisponible' %>
            <td><p>..🔴</p></td>
         <% end %> 
           
            <td><%= form_jeune.firstname %><span> </span><%= form_jeune.lastname %></td>
            <td><%= form_jeune.domain_exp %></td>            
            <td><%= form_jeune.metier_exp %></td>
            <td><%= form_jeune.address %></td>
            <td><%= form_jeune.mail %></td>
            <td>
                <div class="linkPublicTwo">
                    <%= link_to 'Voir', form_jeune %>
                    <%= link_to 'Modifier', edit_form_jeune_path(form_jeune) %>
                    <%= link_to 'Supprimer', form_jeune, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </td>
         </tr>
        </tbody>
        <% end %>
                </table>

            </div>
        </div>

    
    </ul>
</div>

<% elsif %>
<h1 class="block">Désolé ! Tu n'as pas accès a cette page</h1>
<% end %>





        <style>

        .table {
          margin-left: 0%;
        }
        .search-table{

    margin-top: 5%;
}
.search-box{
    background: #c1c1c1;
    border: 1px solid #ababab;
    padding: 3%;
}
.search-box input:focus{
    box-shadow:none;
    border:2px solid #eeeeee;
}
.search-list{
    background: #fff;
    border: 1px solid #ababab;
    border-top: none;
    width: 65%;
    margin-left: 17.5%;
}
.search-list h3{
    background: #eee;
    padding: 3%;
    margin-bottom: 0%;
}
.search-listTwo {
  background-color: white;
}
        </style>

                                 <script>
                            $(document).ready(function () {
                                $("#myInput").on("keyup", function () {
                                    var value = $(this).val().toLowerCase();
                                    $("#myTable tr").filter(function () {
                                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                    });
                                });
                            });
                        </script>