<% if current_user.conseiller? %>

<h1><span class="colorLetters">Pu</span>blic</h1>




<div class="PublicContainer">
<h2>Entretien à prévoir</h2>
    <ul class="list-group">


       <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
         <thead>
          <tr>
            <th class="th-sm">Prénom, Nom</th>
            <th class="th-sm">Domaine</th>
            <th class="th-sm">Addresse</th>
            <th class="th-sm">Email</th>
            <th class="th-sm">Validation entretien</th>
         </tr>
        </thead>
             <% @users.each do |user| %>
      <% if user.cre? || user.conseiller? %>
      <% elsif %>
      <% if user.status? %>
      <% elsif %>
        <tbody>
         <tr>
            <td><%= user.firstname %><span> </span><%= user.lastname %></td>
            <td><%= user.domaine %></td>
            <td><%= user.adress %></td>
            <td><%= user.email %></td>
            <td><div class="linkPublic"><%= link_to 'Entretien effectué', treated_user_path(user.id), method: :put, data: { confirm: 'Êtes vous certain ?' } %></div></td>
         </tr>
        </tbody>
            <% end %>
  <% end %>
<% end %>
      </table>

    </ul>
</div>

    <div class="PublicContainer">
    <h2>Public inscrit avec entretien</h2>
    <ul class="list-group">
    


      <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
         <tr>
            <th class="th-sm">Prénom, Nom</th>
            <th class="th-sm">Domaine</th>
            <th class="th-sm">Addresse</th>
            <th class="th-sm">Email</th>
            <th class="th-sm">Informations</th>
         </tr>
        </thead>
            <% @form_jeunes.each do |form_jeune| %>
        <tbody>
         <tr>
            <td><%= form_jeune.firstname %><span> </span><%= form_jeune.lastname %></td>
            <td><%= form_jeune.domain_exp %></td>
            <td><%= form_jeune.address %></td>
            <td><%= form_jeune.mail %></td>
            <td>
                <div class="linkPublicTwo">
                    <%= link_to 'Voir', form_jeune %>
                    <%= link_to 'Modifier', edit_form_jeune_path(form_jeune) %>
                    <%= link_to 'Supprimer', form_jeune, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
            </td>
         </tr>
        </tbody>
        <% end %>
      </table>
    
    </ul>
</div>

<% elsif %>
<h1 class="block">Désolé ! Tu n'as pas accès a cette page</h1>
<% end %>