<h1>Search result</h1>

  <% @users.each do |user| %>
      <% if user.cre? || user.conseiller? %>
      <% elsif %>
        <li class="list-group-item">
            <p><%= user.firstname %></p> 
            <p><%= user.lastname %></p> 
            <p><%= user.email %></p>
            <p><%= user.created_at %></p>
            <p><%= link_to 'Entretien effectué', treated_user_path(user.id), method: :put, data: { confirm: 'Êtes vous certain ?' } %></p>
        </li>
    <% end %>
    <% end %>
 


