<!DOCTYPE html>
<html>
  <head>
    <title>Apij</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>

  <body>


<% if current_page? ('/') %>
  <div class="HomeHeader">
    <%= image_tag("homeheader.jpg", :alt => "logo_événement_proposé") %>
  </div>
<% end %>

    <div id="boxy" background-image="../images/background.png"> 
      <div class="top_nav">
    <br>
</div>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007BA0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App'iJob</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/offres">Offres d'emploi</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/events">Événement</a>
        </li>
        <% if user_signed_in? && current_user.conseiller? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/public/index">Public</a>
        </li>
        <% end %>
        <%
=begin%>
 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cre/index">Cre</a>
        </li> 
<%
=end%>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/domaine/index">Domaine</a>
        </li>

        <% if user_signed_in? && current_user.conseiller? %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/form_jeunes/new">Formulaire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/conseiller/index">Conseiller/CRE</a>
        </li>
        <% end %>
        <%
=begin%>
 <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/candidats">Candidature</a>
        </li> 
<%
=end%>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/show">Mon compte</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
        </li>
      </ul>

   
   
 <div class="connexion">
          <% if user_signed_in? %>
            <%= form_for(current_user,
              url: destroy_user_session_path, html: { method: :delete }) do |f| %>
              <%= f.submit "Déconnexion" %>
            <% end %> 
            <% else %>
            <%= link_to 'Connexion', new_user_session_path %>
          <% end %>
          </div>
    </div>
  </div>
  <% end %>
</nav>
    <%= yield %>
  <footer>
    <div class="logo-footer">
<a href="/" ><div class="logo-appi">
  <%= image_tag("logo_appijob.png", :alt => "logo-happijob") %>
   </div></a>
</div>
<div class="container-footer">

  <p><a class ="contact-footer" href="mailto:brian.mtr@outlook.fr">Contactez-nous</a></p>
  <p><a class ="contact-footer" href="/legalnotice/index">Mentions légales</a></p>
<br>
</div>
<br>
 <p class="copyright">COPYRIGHT-Appijob 2021</p>
  </footer>
  </body>
</html>
